
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
        body {
            background-color: white ;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }
    </style>
</head>
<body>
  
 <h1>Comment_detail_view</h1>
 <br>
<table class="table table-striped table-hover table-bordered" >  
  {% for comment in object_list %}
    <tr> 
        <td>
             {{ comment.Customer_Name }}<br>{{ comment.Writte_Comment }}
        </td>
    </tr>    
  {% endfor %}
</table>  
 
</body>
</html>

{% endblock %} 