
{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
        <style>
        body {
            background-color: white ;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }
        img {
    max-width: 1700%;
    max-height: 1800px;
        }
    </style>
</head>
</head>
<body>
            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                    <div class="carousel-item active">
                       
                        <img src="{% static 'courtmanagement/img/carousel-2.jpg'%}" alt="Carousel Image">
                        <div class="carousel-caption">
                        
                            <h1>Open New Case</h1>
                            <h1>Case Registration Page</h1>

                               <form  method = "post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                   {{ form.media }}
                                   {{ form.as_p }}
                                   
                                  <input class = "btn btn-secondary" type=submit name="register">
                                </form>  
                                <h1>fill the case ragistration form befor submiting </h1>
                                 <h1>jimma town court service </h1>
                        </div>
                    
                       <img src="{% static 'courtmanagement/img/carousel-2.jpg'%}" alt="Carousel Image"><br>
                       
                     </div>
            </div>

</body>
</html>


{% endblock %}     
